<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijob-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <ul>
      <template is="dom-repeat" items="{{listaElementos}}" >
        <li>{{item}}</li>
      </template>
    </ul>
  </template>

  <script>
    /**
     * `hijob-element`
     * Componente Hijo B
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HijobElement extends Polymer.Element {
      static get is() { return 'hijob-element'; }
      static get properties() {
        return {
          listaElementos: {                 //Elemento que se debe de mostrar en la pagina 
            type: Array,
            value: () => {return['Elemento 1', 'Elemento 2', 'Elemento 3', 'Elemento 4', 'Elemento 5', 'Elemento 6']}
          }
        };
      }
    }

    window.customElements.define(HijobElement.is, HijobElement);
  </script>
</dom-module>
